.statistics {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
  }
  
  .statistics div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .statistics label {
    font-weight: bold;
  }
  