<div class="display-container">
  <div class="statistics">
    <div>
      <label>V_MPP (V):</label>
      <span>{{ vMpp }}</span>
    </div>
    <div>
      <label>I_MPP (A):</label>
      <span>{{ iMpp }}</span>
    </div>
    <div>
      <label>P_MPP (W):</label>
      <span>{{ pMpp }}</span>
    </div>
    <div>
      <label>V_OC (V):</label>
      <span>{{ vOc }}</span>
    </div>
    <div>
      <label>I_SC (A):</label>
      <span>{{ iSc }}</span>
    </div>
    <div>
      <label>Fill Factor (%):</label>
      <span>{{ ff }}</span>
    </div>
  </div>

  <div class="iv-pv-plot">
    <plotly-plot [data]="graph.data" [layout]="graph.layout"></plotly-plot>
  </div>
</div>
