

.container {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  background: #3468e1;
}

.statistics {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 20px;
}

.statistics > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%; /* Each child div takes up 30% of the width */
}

.statistics label {
  font-weight: bold;
}

.aaa {
  flex: 1;
}

plotly-plot {
  flex: 1;
  height: 100%;
}