<div class="container">
    <div class="pv-config">
        <h1>PV Config</h1>
        <div class="label-input-group">
            <label for="pvType">PV Type</label>
            <mat-form-field appearance="fill" subscriptSizing="dynamic">
                <mat-label>PV Type</mat-label>
                <mat-select id="pvType" (selectionChange)="pvTypeChange($event)">
                    <mat-option *ngFor="let option of pvTypeOptions" [value]="option.value">
                        {{ option.viewValue }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="label-input-group">
            <label for="sampleRange">Sample Range</label>
            <input type="text" [(ngModel)]="sampleRange" (input)="validateRange($event)">
        </div>
        <div class="label-input-group">
            <label for="numSteps">Num Iterations</label>
            <input #numIter="ngModel" type="number" [ngModel]="numIterVal" (ngModelChange)="numIterChanged($event)">
        </div>
        <div class="label-input-group">
            <label for="stepSize">Step Size</label>
            <input #stepSize="ngModel" type="number" [ngModel]="stepSizeVal" (ngModelChange)="stepSizeChanged($event)">
        </div>
        <div class="label-input-group">
            <label for="settlingTime">Settling Time (ms)</label>
            <input #settlingTime="ngModel" type="number" [ngModel]="settlingTimeVal" (ngModelChange)="settlingTimeChanged($event)">
        </div>
        <div class="stat-container">
            <div>
                <label>Num Steps:</label>
                <span>{{ numSteps }}</span>
            </div>
            <div>
                <label>Total Samples:</label>
                <span>{{ totalSamples }}</span>
            </div>
            <div>
                <label>Test Duration (ms):</label>
                <span>{{ testDuration }}</span>
            </div>
        </div>
    </div>
    <div class="comm-config">
        <h1>COMM Config</h1>
        <div class="label-input-group">
            <label for="pvId">PV ID</label>
            <input type="text" id="pvId" placeholder="ex: BV001">
        </div>
        <div class="label-input-group">
            <label for="port">Port</label>
            <select id="port">
                <option *ngFor="let port of portOptions" [value]="port">{{ port }}</option>
            </select>
        </div>
        <div class="label-input-group">
            <label for="baudRate">Baud Rate</label>
            <select id="baudRate">
                <option value="57600">57600</option>
                <option value="112500">112500</option>
            </select>
        </div>
        <div class="label-input-group">
            <label for="encodingScheme">Encoding Scheme</label>
            <select id="encodingScheme">
                <option value="NONE">NONE</option>
            </select>
        </div>
        <div class="label-input-group">
            <label for="parity">Parity</label>
            <select id="parity">
                <option value="NONE">NONE</option>
            </select>
        </div>
        <div class="buttons">
            <button class="start" (click)="onStart()">START!</button>
            <button class="stop">STOP</button>
            <button class="save">SAVE</button>
        </div>
    </div>
</div>