.container {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    background: #e13434;
    padding: 5px;
}

h1 {
    text-align: center;
    color: #000000;
}

.label-input-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px; /* Reduced from 15px */
}

.label-input-group label {
    flex: 1;
    color: #000000;
}

.label-input-group input[type="number"], 
.label-input-group input[type="text"], 
.label-input-group select {
    flex: 2;
    padding: 6px; /* Reduced from 8px */
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-left: 10px; /* Space between label and input */
}

button {
    padding: 8px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 5px;
}

button.start {
    background-color: #4CAF50;
    color: white;
}

button.stop {
    background-color: #f44336;
    color: white;
}

button.save {
    background-color: #008CBA;
    color: white;
}

.buttons {
    text-align: center;
    margin-top: 15px;
}

.stat-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 5px;
}

.stat-container > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%; /* Each child div takes up 30% of the width */
  }

.stat-container  label {
font-weight: bold;
}