.pv-cap-container {
  display: flex;
  flex-direction: row;
}

.left-panel {
  flex: .6;
  /* padding: 10px; */
  background-color: bisque;
}

.display-panel { 
  flex: 1;
  /* padding: 10px; */
  background-color: aquamarine;
}